{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href={% static '/css/bootstrap.css' %}>
    <link rel="stylesheet" href="{% static '/css/grandients.css' %}">
    {% block extraCSS %} {% endblock %}
    <title>{% block title %}Document {% endblock %}</title>
</head>
<body class="{% block bodyClassName %}{% endblock %}">
{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark grandientBackgroun" style="color: white!important;">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <a class="navbar-brand">SeguridadUCU</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}"><b>Inicio</b></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'files:index' %}"><b>Cifrar archivos</b></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'signature:index' %}"><b>Firma digital</b></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'signature:generateKey' %}"><b>Generar claves</b></a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0 left">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-2 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <span class="navbar-text"><i>Sesion iniciada: {{ user }}</i></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'authentication:logout' %}" >Cerrar sesion</a>
                </li>
            </ul>
        </div>

    </nav>

{% endblock %}
<div class="container col-md-12 center-block">
    {% block content %}
    {% endblock %}

</div>
{% block footer %}
    <footer class="navbar-fixed-bottom fixed-bottom grandientBackgroun" style="color: white!important;">
        <div class="text-center">

        </div>
        </div>
        <div class="container-fluid page-footer bg-dark footer grandientBackgroun"
             style="position:relative;bottom: 0;left: 0;">

            <div class="footer-copyright text-center " style="padding: 1%;vertical-align: center">
                <img src="http://chittagongit.com/download/419235" class="img-responsive" style="max-height: 30px">
                © 2019 Seguridad- Grupo 03:
                <a href="https://ucu.edu.uy"> Universidad Catolica del Uruguay </a>
            </div>
        </div>
    </footer>
{% endblock %}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% block extrajs %}
{% endblock %}


</body>
</html>